.programTitle {
    text-align: center;
    color: #d8d8d8;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    
}
.cards {
    display: flex;
    width: 100%;
}
.section {
    position: relative;

}
.video {
    left: 55rem;
    top: 7rem;    
}
.startBtn {
    left: 18rem;
    top: 20rem;
    margin: 1rem;
    opacity: 0.9;
}
.backPic {
    width: 100%;
    height: 60vh;
    background-image: url('https://img.freepik.com/photos-premium/interieurs-gymnases-modernes-ia-generative_547471-566.jpg');
    background-repeat:inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem;
}
.btnContainer {
    display: flex;
    flex-direction: column;
}
.contentContainer {
    /* padding: 1rem; */
    border-radius: 0.5rem;
    width: 35rem;
    height: 25rem;
     overflow:scroll;
    /* background-color: #d8d8d8; */
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width:1640px){
    .contentContainer {
        padding: 1rem;
        border-radius: 0.5rem;
        max-width: 28rem;
         overflow:scroll;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1460px) {
    .contentContainer {
        max-width: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1280px) {
    .contentContainer {
        max-width: 25rem;
        margin: auto;
        margin-bottom: 2.5rem;
    }
    .backPic {
        display: block;
        height: auto;
    }
    .btnContainer {
        width: 30%;
        margin: auto;
    }
    .video {
        margin: auto;
        top: 0;
        left: 0;
    }
    .backPic {
        padding: 5rem;
        background-repeat:inherit;
        /* width: 100%; */
    }
    .cards {
        display: block;
    }
}

@media (max-width: 768px) {
    .video {
        width: 400px;
    }
}